.messageHeader {
    background: #26a69a;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 10px;
    position: relative;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

h4{
    font-size: 20px;
}

.text-bubble {
    padding: 14px;
    background: #f4511e;
    border-radius: 24px 24px 24px 0;
    margin: 10px 10px 0 10px;
    color: white;
}
.card {
    max-height: 500px;
    overflow: scroll;
}
.senderName {
    margin-left: 10px;
}

a:hover{
  color:#f4511e;]
  text-decoration: none;
}

a{
  color:#26a69a;
}

.messageBack:hover{
color: #f4511e;
}

.messageBack{
color:#26a69a;
}

.form-group {

}

.bigBox {
  margin-bottom: 1rem;
  width: 98%;
  margin: 0 auto 1rem;
  background: #efefef;
  padding: 10px;
}

.close-icon {
    width: 20px;
    float: right;
}
