<div class="buddy-list-box">
  <div class="buddy-section">
    <p id="buddy-list-header">Buddies<span id="bullet"> ‣ </span><span id="buddy-count">{{(user | async)?.friends.length}}</span></p>
    <hr>
    <div class="buddy-list-holder">
      <div *ngFor="let buddy of buddyObjects; let i=index" class="buddy-list-outer" (click)="goToProfilePage(buddy)">
        <div *ngIf="i<4">
          <img src=".././assets/bucketbuddy.png">
          <div class="buddy-list-info">
            {{buddy.firstName}} {{buddy.lastName}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loggedIn">
    <div *ngIf="alreadyBuddied" class="remove">
      <a (click)="deleteBuddy()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
    </div>
    <div *ngIf="!alreadyBuddied" class="add">
      <a (click)="addBuddy()" class="btn-floating btn-large waves-effect waves-light light-green accent-4"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>
