
<div class="buddy-list-box">
  <div class="buddy-section">
  <p id="buddy-list-header">Buddies<span id="bullet"></span><span id="buddy-count">{{buddyList.length}}</span></p>
    <div class="buddy-list-holder"><i class="material-icons icon-black">group</i>
    <div *ngFor="let buddy of buddyObjects | slice:0:6" class="buddy-list-outer" (click)="goToProfilePage(buddy.$key)">
        <img src=".././assets/bucketbuddy.png">
        <div class="buddy-list-info">
          {{buddy.firstName}} {{buddy.lastName}}
        </div>
     </div>
   </div>
  </div>
</div>
<div *ngIf="!homeProfile">
  <div *ngIf="alreadyBuddied" class="remove">
    <a (click)="deleteBuddy()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
  </div>
  <div *ngIf="!alreadyBuddied" class="add">
    <a (click)="addBuddy()" class="btn-floating btn-large waves-effect waves-light light-green accent-4"><i class="material-icons">add</i></a>
  </div>
</div>
