.itemTitle {
  font-family: 'Lato', sans-serif;
  color: #f4511e;
  font-size: 30px;
  text-align: center;
}

#back {
  position: relative;
  top: -50px;
  color: white;
}

a {
  color:  #f4511e;
  font-weight: bold;
}

.greeting {
  font-size: 30px;
  font-weight: bolder;
  color: #5A5C5E;
  text-align: center;
}

.top .header{
    margin-top: 2rem;
    background: #f4511e;
    color: white;
    border: 1px solid #ffccbc;
    padding: 10px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

.top .header h4{
  margin-bottom:0px;
  margin-top:0px;
      font-size: 20px;
}

#matches {
  text-align: center;
}

.header .col-md-4{
    border-right: 1px dashed #ffccbc;
}

.header .col-md-4:last-of-type{
    border-right: 0px;
}

.lower .col-md-4:last-of-type{
    border-right: 0px;
}

.about {
  font-size: 16px;
  color: #fbc02d;
}
.lower{
    border: 1px solid #ffccbc;
    padding: 10px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
}

.lower .col-md-4{
    border-right: 1px dashed #ffccbc;
}

.lower:last-of-type {
  border-bottom-width: 1px;
}

.messageBox{
    width: 80%;
    vertical-align: top;
    display: inline-block;
}

.messageButton{
    width: 19%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
