<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="card main-head">
  <div class="about-user">
    <div class="img circle" style="background-image:url('https://articlebio.com/uploads/bio/2017/07/20/ryan-gosling.jpg')" bypassSecurityTrustUrl></div>
    <h3 class="username">{{(currentUser | async)?.firstName}} {{(currentUser | async)?.lastName}}</h3>
    <p class="bio">{{(currentUser | async)?.bio}}</p>
    <hr>
    <p class="dob">Date of Birth: {{(currentUser | async)?.dob}}</p>
    <p class="phone">Phone: {{(currentUser | async)?.phone}}</p>
    <p class="email">Email: {{(currentUser | async)?.email}}</p>

  </div>
  <a routerLink="update" class="yellow darken-2 btn-small edit-button"><i class="material-icons icon-white right">create</i>EDIT</a>
</div>

<div class="card">
<app-bucket-list></app-bucket-list>
<div>
  <p *ngFor="let comments of currentUserComments">{{comments}}</p>
</div>
</div>


<!-- <div class="contact-info">
  <h6>Contact {{(currentUser | async)?.firstName}}</h6>
  <ul>
    <li><i class="material-icons icon-yellow">contact_phone</i>{{(currentUser | async)?.contact}}</li>
    <li><i class="material-icons icon-yellow">contact_email</i>{{(currentUser | async)?.email}}</li>
  </ul>
</div> -->
