.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.bio {
  max-width: 500px;
  position: relative;
  top: -30px;
  padding: 20px;
}

.img-circle {
  border-radius: 50%;
}

hr {
  float: left;
  width: 500px;
  position: relative;
  top: -80px;
  left: 125px;
  border-color: #f4511e;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img{
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 10px;
    float: left;
}

.contact-info {
  text-align: left;
}

.icon-yellow {
  color: #f9a825;
  padding: none;
}

.main-head {
  position: relative;
  margin-top: 0px;
  padding: 50px;
}

.username {
  font-family: 'Lato', sans-serif;
  color: #f4511e;
  font-weight: bold;
  font-size: 32px;
  position: relative;
  left: 14px;
}

.edit-button {
  position: relative;
  top: -50px;
  left: 20px;
  max-width: 100px;
}
