
<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</head>

<div class="container">
  <div class="card">
    <div class="about-user">
      <blockquote>
        <div class="img circle" style="background-image:url('https://articlebio.com/uploads/bio/2017/07/20/ryan-gosling.jpg')"></div>
      </blockquote>
      <h3 class="username">{{(user | async)?.firstName}} {{(user | async)?.lastName}}</h3>
      <blockquote>
        <h6>Contact {{(user | async)?.firstName}}</h6>
        <p>phone: {{(user | async)?.contact}}</p>
        <p>email: {{(user | async)?.email}}</p>
    </div>
    <p>{{(user | async)?.bio}}</p>
    <a routerLink="update" class="yellow darken-2 btn-large"><i class="material-icons icon-white right">create</i>EDIT PROFILE</a>
    <hr/>
  </div>
</div>
