.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img{
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 10px;
    float: left;
}

.username {
  font-size: 30px;
}

.contact-info {
  padding-bottom: 30px;
}
