<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="container">
  <div class="card">
    <div class="about-user">

        <div class="img circle" style="background-image:url('https://articlebio.com/uploads/bio/2017/07/20/ryan-gosling.jpg')"></div>

      <h3 class="username">{{(currentUser | async)?.firstName}} {{(currentUser | async)?.lastName}}</h3>

        <h6>Contact {{(currentUser | async)?.firstName}}</h6>
        <p>phone: {{(currentUser | async)?.contact}}</p>
        <p>email: {{(currentUser | async)?.email}}</p>
    </div>
    <p>{{(currentUser | async)?.bio}}</p>
    <a routerLink="update" class="yellow darken-2 btn-large"><i class="material-icons icon-white right">create</i>EDIT PROFILE</a>
    <hr/>
  </div>
  <app-buddy-list></app-buddy-list>
  <app-bucket-list></app-bucket-list>
</div>
