.completed,
.notCompleted {
    border: 1px solid black;
    padding: 10px;
    border-bottom-width: 0px;
}
.completed{
  background: #e8e8e8;
}

.completed:last-of-type,
.notCompleted:last-of-type {
    border-bottom-width: 1px;
}
input[type=checkbox] {
  transform: scale(2) !important;
  }

.row p {
  margin-bottom: 0px;
}
.vertical-align {
/* display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 100%;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center; */
text-align: center;
}

.row label {
  margin-bottom: 0px;
  margin-right: 10px;
}

#item-title {
  float: left;
}

.margin-top{
  margin-top:10px;
}

.row .col-sm-5,
.row .col-sm-2,
.row .col-sm-3 {
    border-right: 1px dashed black;
}

.row .col-sm-2:last-of-type {
    border-right: 0px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.header{
    margin-top: 2rem;
    background: #ff3d00;
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-bottom-width: 0px;
}

.header h4{
  margin-bottom:0px;
}

.edit-icon{
  width: 21px;
  margin-left: 10px;
  float: right;
}

.check{
  text-align: center;
}

.pretty {
    font-size: 40px;
    margin-right: 0px;
}

.pretty input:checked ~ .state.p-primary-o .icon, .pretty input:checked ~ .state.p-primary-o .svg, .pretty input:checked ~ .state.p-primary-o svg, .pretty.p-toggle .state.p-primary-o .icon, .pretty.p-toggle .state.p-primary-o .svg, .pretty.p-toggle .state.p-primary-o svg {
    color: black;
    stroke: black;
}

.pretty input:checked ~ .state.p-primary-o label:before, .pretty.p-toggle .state.p-primary-o label:before {
    border-color: #ff3d00;
}

.bucketBox a{
  color:#ff3d00;
  font-weight: 700;
}

.bucketBox a:hover{
  color:black;
}

.fa-heart:before {
    font-size: 29px;
}
