<div class="sign-up">
  <h2 class="align cursive-font">Tell us about you</h2>
  <hr>
  <form ngNativeValidate>
    <div class="form-row">
      <div class="input-field col-md-12">
        <i class="material-icons prefix">insert_comment</i>
        <textarea #newBio class="materialize-textarea">{{(currentUser | async)?.bio}}</textarea>
        <label class="active" for="textarea1">About me</label>
      </div>
      <div class="input-field col-md-12">
        <i class="material-icons prefix">add_a_photo</i>
        <input #newProfilePicture class="form-control" value="{{(currentUser | async)?.profilePicture}}">
        <label class="active">Add a photo of you via URL</label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-field col s6">
          <i class="material-icons prefix">filter_1</i>
          <input #newFirstName type="text" value="{{(currentUser | async)?.firstName}}" class="form-control" id="icon_first" placeholder="Jane" required>
          <label class="active" for="icon_first">First name</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-field col s6">
          <i class="material-icons prefix">filter_2</i>
          <input #newLastName type="text" value="{{(currentUser | async)?.lastName}}" class="form-control" id="icon_last" placeholder="Doe" required>
          <label class="active" for="icon_last">Last name</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input #newContact type="number" value="{{(currentUser | async)?.contact}}" class="form-control validate" id="icon_phone" required>
          <label class="active" for="icon_phone">Phone number</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-field col s6">
          <i class="material-icons prefix">cake</i>
          <input #newDob class="form-control" type="date" value="{{(currentUser | async)?.dob}}" id="icon_cake" required>
          <label for="icon_cake">Date of birth</label>
        </div>
      </div>
    </div>
    <div class="center">
      <a id="g2g" (click)="updateUserProfile(newFirstName.value, newLastName.value, newDob.value, newBio.value, newContact.value, newProfilePicture.value)" class="pulse yellow darken-2 btn-large"><i class="material-icons icon-white right">face</i>GOOD TO GO!</a>
    </div>
  </form>
</div>
