a:hover {
  color: #fbc02d;
}

.name {
  font-size: 28px;
  font-family: 'Lobster', cursive;
  color: #fbc02d;
  margin-left: 75px;
  text-shadow: 2px 2px 4px #000000;
}

.bucket-logo {
  width: 10%;
  padding-bottom: 8px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media only screen and (min-width: 993px){
  .container {
      width: 90%;
  }
}

body {
  font-family: 'Lato', sans-serif;
}
