.log-in {
  position: relative;
  top: 100px;
  padding-top: 100px;
  min-width: 300px;
  margin: auto;
  width: 50%;
  padding: 120px;
  background-image: url("../../assets/burst.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* opacity: 0.2; */
  text-align: center;
}

.google-login {
  color: #404143;
}

.bucket-logo {
  width: 20%;
  padding-bottom: 8px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cursive-font {
  font-size: 46px;
  font-family: 'Lobster', cursive;
  color: #fbc02d;
  text-shadow: 2px 2px 4px #000000;
}

.name {
  font-size: 28px;
  font-family: 'Lobster', cursive;
  color: #fbc02d;
}

.welcome {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.align {
  text-align: center;
}

#sign-up {
  color: white;
  font-weight: bold;
}
