.log-in {
  position: relative;
  top: 100px;
  padding-top: 100px;
  min-width: 300px;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.google-login {
  color: #404143;
}

.bucket-logo {
  width: 10%;
  padding-bottom: 8px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.cursive-font {
  font-size: 36px;
  font-family: 'Lobster', cursive;
  color: #fbc02d;
}

.name {
  font-size: 28px;
  font-family: 'Lobster', cursive;
  color: #fbc02d;
}

.welcome {
  text-transform: uppercase;
  font-size: 20px;
  color: #e0e0e0;
}

.align {
  text-align: center;
}
