<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div class="log-in card">
  <h4 class="welcome">Welcome to</h4>
  <h6 class="cursive-font">Bucket <img class="bucket-logo" src="/assets/bucketbuddy.png" /> Buddy</h6>
<br>
  <form ngNativeValidate>
    <div *ngIf ="!isLoggedIn">
        <a id="sign-up" (click)="login()" class="pulse yellow darken-2 btn-large"><i class="material-icons icon-white right">face</i>LOG IN / SIGN UP</a>
    </div>
  </form>
</div>

<!-- <div class="sign-up">
  <h2 class="align cursive-font">Sign up</h2>
  <h6 class="align">Ready to kick items off your bucket list? Join the fun, it's free!</h6>
  <hr>
  <form ngNativeValidate>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input #newUsername type="text" class="form-control" id="inputUsername" placeholder="Username" required>
      </div>
      <div class="form-group col-md-6">
        <input #newPassword type="password" class="form-control" id="inputPassword" placeholder="Password" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input #newFirstName type="text" class="form-control" id="inputFirstName" placeholder="First name" required>
      </div>
      <div class="form-group col-md-6">
        <input #newLastName type="text" class="form-control" id="inputLastName" placeholder="Last name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input #newPhone type="number" class="form-control" id="inputPhone" placeholder="Phone" required>
      </div>
      <div class="form-group col-md-6">
        <input #newEmail type="text" class="form-control" id="inputEmail" placeholder="Email" required>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="inputBirthdate">When were you born?</label>
          <input #newBirthdate class="form-control" type="date" value="0000-00-00" id="inputBirthdate" required>
        </div>
      </div>
    </div>
    <div class="center">
      <a id="sign-up" (click)="createUser(newUsername.value, newPassword.value, newFirstName.value, newLastName.value, newPhone.value, newEmail.value, newBirthdate.value, '', [''], [''], ['']); newUsername.value = ''; newPassword.value = ''; newFirstName.value = ''; newLastName.value = ''; newPhone.value = ''; newEmail.value = ''; newBirthdate.value = ''" class="pulse yellow darken-2 btn-large"><i class="material-icons icon-white right">face</i>SIGN UP</a>
    </div>
  </form>
</div> -->
